# this content is based on https://github.com/canonical/multipass/issues/1488
#cloud-config

package_update: true
package_upgrade: true
package_reboot_if_required: true

users:
- name: ubuntu
  shell: /bin/bash
  sudo:
    - ALL=(ALL) NOPASSWD:ALL

packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - software-properties-common
  #- netfilter-persistent

runcmd:
  # install docker
  - sudo apt update -y && sudo apt upgrade -y
  - sudo apt install -y apt-transport-https ca-certificates curl gnupg-agent software-properties-common
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo apt-key fingerprint 0EBFCD88
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable"
  - sudo apt-get --yes update
  - sudo apt-get --yes install docker-ce docker-ce-cli containerd.io
  - sudo usermod -aG docker ubuntu
  - sudo docker run hello-world
  #
  # install microk8s
  #- sudo snap install microk8s --classic --channel=1.18/stable
  #- sudo iptables -P FORWARD ACCEPT
  #- sudo usermod -a -G microk8s ubuntu
  #- sudo chown -f -R ubuntu ~/.kube
  #- sudo echo "{ \"insecure-registries\" : [\"localhost:32000\"] }" > /etc/docker/daemon.json
  #
  #- echo iptables-persistent iptables-persistent/autosave_v4 boolean true | sudo debconf-set-selections
  #- echo iptables-persistent iptables-persistent/autosave_v6 boolean true | sudo debconf-set-selections
  #- sudo apt install -y netfilter-persistent
  #
  #- sudo apt install -y netfilter-persistent
  #
  # get docker-compose package from github$
  - sudo curl -L "https://github.com/docker/compose/releases/download/1.27.4/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose$
  - sudo chmod +x /usr/local/bin/docker-compose$
  $
  # set iptables forwarding on local host to expose the container host vm$
  # - can this not be done via the cloud-init file?$
  #- sudo $(FORWARD_PORT) $(APP_HOST) $(EXTERNAL_INTERFACE) $(SERVICE_PROTO) $(EXTERNAL_PORT) $(INSTANCE_PORT))$
  $
  # finally, mount code repository to finish setup from the new host vm$
  #multipass mount $(PWD) $(APP_HOST):$(APP_PATH)$

  
final_message: "The system is finally up, after $UPTIME seconds"

