version: "3.8"
services:
  web:
    working_dir: ___CODE_PATH___
    restart: always
    build:
        context: .
        dockerfile: web-Dockerfile
    volumes:
      #- .:___CODE_PATH___
      - ..:___APP_PATH___
    ports:
      - ___WEB_EXTERNAL_PORT___:___WEB_INSTANCE_PORT___
    depends_on:
      - db

  # some port config hints found at https://stackoverflow.com/questions/37775702/changing-a-postgres-containers-server-port-in-docker-compose
  db:
    working_dir: ___APP_PATH___
    restart: always
    volumes:
        - ___APP_PATH___:___APP_PATH___
        - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    build:
        context: .
        dockerfile: db-Dockerfile
    environment:
      - PGDATA=___DB_PATH___
      - PGPORT=___DB_INSTANCE_PORT___
      - POSTGRES_DB=___DB_NAME___
      - POSTGRES_USER=___DB_USER___
      - POSTGRES_PASSWORD=___DB_USER___
      # use trust during development, modify on deployment
      - POSTGRES_HOST_AUTH_METHOD=trust
    expose:
      - ___DB_INSTANCE_PORT___ # export post to other containers (not to host)
    ports:
      - ___DB_EXTERNAL_PORT___:___DB_INSTANCE_PORT___ # map external port to internal port

  redis:
      image: redis:alpine

