# this content is based on https://github.com/canonical/multipass/issues/1488
#cloud-config

package_update: true
package_upgrade: true
# right now this setting is causing the image not to boot (or finish rebooting) - a
# problem with an update or what? and why is there no output showing the problem?
#package_reboot_if_required: true

users:
- name: ubuntu
  shell: /bin/bash
  sudo:
    - ALL=(ALL) NOPASSWD:ALL

#mounts:
#    - [ /dev/ephemeral0, /mnt, auto, "defaults,noexec" ]
#    - [ sdc, /opt/data ]
#    - [ xvdh, /opt/data, "auto", "defaults,nofail", "0", "0" ]

packages:
  # why are these package installs failing, and how can I see those errors?
  # i'll just get it done via runcmd below, but I wonder how to find such
  # errors in the mp launch output (or elsewhere).
  #
  # OH - using runcmd causes launch to time out...need to think again....
  #
  #- apt-transport-https
  #- ca-certificates
  #- curl
  #- software-properties-common
  #- postgresql-client-12
  #- pgadmin
  - net-tools

runcmd:
  # install docker
  - sudo apt update -y && sudo apt upgrade -y
  - sudo apt install -y apt-transport-https ca-certificates curl gnupg-agent software-properties-common
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo apt-key fingerprint 0EBFCD88
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable"
  - sudo apt-get --yes update
  - sudo apt-get --yes install docker-ce docker-ce-cli containerd.io
  - sudo usermod -aG docker ubuntu
  - sudo docker run hello-world
  #
  # install microk8s
  #- sudo snap install microk8s --classic --channel=1.18/stable
  #- sudo iptables -P FORWARD ACCEPT
  #- sudo usermod -a -G microk8s ubuntu
  #- sudo chown -f -R ubuntu ~/.kube
  #- sudo echo "{ \"insecure-registries\" : [\"localhost:32000\"] }" > /etc/docker/daemon.json
  #
  # get docker-compose package from github
  - sudo curl -L "https://github.com/docker/compose/releases/download/1.27.4/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  - sudo chmod +x /usr/local/bin/docker-compose
  #
  # install postgres client
  - sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
  - wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
  - sudo apt-get update
  - apt-get -y install postgresql-client-12

  # install pgadmin
  #- curl https://www.pgadmin.org/static/packages_pgadmin_org.pub | sudo apt-key add
  #- sudo sh -c 'echo "deb https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/$(lsb_release -cs) pgadmin4 main" > /etc/apt/sources.list.d/pgadmin4.list && apt update'
  #- sudo apt install -y pgadmin4

final_message: "The system is finally up, after $UPTIME seconds"

