FROM python:3.7-alpine
ENV FLASK_APP=app.py
ENV FLASK_RUN_HOST=0.0.0.0
RUN apk add gcc musl-dev linux-headers postgresql-client
COPY requirements.txt /tmp/requirements.txt
RUN pip install -r /tmp/requirements.txt
EXPOSE ___WEB_EXTERNAL_PORT___
CMD ["flask", "run"]
