<form action="{{post_url}}" method = "POST">
    <div class="navbar">
        <div class="navpager">
            <tr>
                <input type="hidden" name="sort_field" value={{sort_field}} />
                <input type="hidden" name="sort_direction" value={{sort_direction}} />
                <input type="hidden" name="start_row" value={{start_row}} />
                <input type="hidden" name="rows_per_page" value={{rows_per_page}} />
                <td>
                    <button name="pager" value="previous" type="submit" {{previous_page_status}}>Previous</button>
                </td>
                <td>
                    <button name="pager" value="next" type="submit" {{next_page_status}}>Next</button>
                </td>
            </tr>
        </div>
    </div>
</form>