{% extends 'data-layout.html' %}

{% block content %}

{% block datagrid_header %} {{ super() }} {% endblock %}

    <div class="datagrid-header">#</div>
    {% for column_tag, column_name in headers %}    
      <div class="datagrid-header">{{column_name}}</div>
    {% endfor %}
    {% for row in files %}    
        <div style="text-align:right">{{start_row | int + loop.index0}}</div>
        <div style="text-align:right">{{row[0]}}</div>
        <div style="text-align:right">{{row[1]}}</div>
        <div>{{row[2]}}</div>
    {% endfor %}

{% block datagrid_footer %} {{ super() }} {% endblock %}
{% endblock %}
